<!DOCTYPE html>

<html>
    <head>
        <title>123</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="gallery/css/style.min.css?12122013" rel="stylesheet" />
        <link href="gallery/css/least.min.css" rel="stylesheet" />
        <link href="gallery/css/prism.min.css" rel="stylesheet" />
    </head>
    <body >
        
        <!-- Gallery -->
        <section>
            <ul id="gallery">
            
                <li id="fullPreview"></li>
                
                <!-- 1 -->
                <li>
                    <a href="gallery/img/full/1.jpg"></a>
                    <img data-original="gallery/img/thumb/1.jpg" src="gallery/img/effects/white.gif" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Photo   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    View Picture
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </div>
                </li>
                
                <!-- 2 -->
                <li>
                    <a href="gallery/img/full/2.jpg"></a>
                    <img data-original="gallery/img/thumb/2.jpg" src="gallery/img/effects/white.gif" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Photo   
                                </h2>
                            </li>
                            <li>
                                <p>
                                    View Picture
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    <p class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </li>
                
                <!-- 3 -->
                <li>
                    <a href="gallery/img/full/3.jpg"></a>
                    <img data-original="gallery/img/thumb/3.jpg" src="gallery/img/effects/white.gif" width="240" height="150" alt="Photo" />
                    
                    <div class="overLayer"></div>
                    <div class="infoLayer">
                        <ul>
                            <li>
                                <h2>
                                    Photo     
                                </h2>
                            </li>
                            <li>
                                <p>
                                    View Picture
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    <p class="projectInfo">
                        <strong>Day, Month, Year:</strong> sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                    </p>
                </li>

            </ul>
        </section>
        <!-- / Gallery -->
        <script src="gallery/js/jquery.min.js"></script>
        <!--<script> var jq18 = $.noConflict(true); </script>-->

        <script src="gallery/js/jquery.lazyload.min.js"></script>
        
        <script src="gallery/js/least.min.js?03072013"></script>
        <script src="gallery/js/prism.js"></script>

        <script>

            $(document).ready(function(){


                    $('#gallery').least();



            });




        </script>


</body>
</html>
